In [1]:
import psycopg2 as pg
import pandas as pd
import numpy as np 

from pandas.io.excel import ExcelWriter

import matplotlib.pyplot as plt

df=pd.read_csv("D:\\Education\\3 rok AGH\\5 Semestr\\AiBD\\pandas_project\\lab_6_Matyiashchyk\\Analysis Data\\8_PODKARPACKIE.csv")



df.dropna(subset=['Wiek kupującego'], inplace=True)
df.to_csv( "D:\\Education\\3 rok AGH\\5 Semestr\\AiBD\\pandas_project\\lab_6_Matyiashchyk\\Analysis Data\\8_PODKARPACKIE_modyfikowane.csv")
df2=pd.read_csv("D:\\Education\\3 rok AGH\\5 Semestr\\AiBD\\pandas_project\\lab_6_Matyiashchyk\\Analysis Data\\8_PODKARPACKIE_modyfikowane.csv")
print(df2.describe(include='all'))

print (df2)
###### Wykres pokazujący podział kobiet męźczyzn i ich wiek
ax = df2.plot.hist(column=["Wiek kupującego"], by="Płeć kupującego", figsize=(10,10 ), stacked=True, title = 'Pokazanie ilość kupujących ze względy na plec' , bins = 25)
ax[0].set_xlabel('Wiek kupującego')  
ax[0].set_ylabel('Częstósć Występowania w columnie')
ax[0].set_title('Woomen')
ax[1].set_xlabel('Wiek kupującego')
ax[1].set_ylabel('Częstósć Występowania w columnie')
ax[1].set_title('Man')
ax[2].set_xlabel('Wiek kupującego')
ax[2].set_ylabel('Częstósć Występowania w columnie')
ax[2].set_title('Brak danych')
plt.subplots_adjust(hspace=1)
############## Wykres ocen dla każdej Marki
ax1 = df2.plot.hist(column=["Ocena"], by="Marka", figsize=(10,10 ), stacked=True, bins = 20)
plt.subplots_adjust(hspace=1)
ax1[0].set_xlabel('Ocena')  
ax1[0].set_ylabel('Częstósć')
ax1[1].set_xlabel('Ocena')  
ax1[1].set_ylabel('Częstósć')
ax1[2].set_xlabel('Ocena')  
ax1[2].set_ylabel('Częstósć')
ax1[3].set_xlabel('Ocena')  
ax1[3].set_ylabel('Częstósć')
ax1[4].set_xlabel('Ocena')  
ax1[4].set_ylabel('Częstósć')
ax1[0].set_title('Oceny dla Beko')
ax1[1].set_title('Oceny dla Dyson')
ax1[2].set_title('Oceny dla Electrolux')
ax1[3].set_title('Oceny dla Samsung')
ax1[4].set_title('Oceny dla Tefal ')

####### Wykres Dni od zakpupu do sumy ocen 
dni_ocena = df2.groupby('Dni od zakupu').agg({'Ocena':'sum'})
dni_ocena.plot(y = 'Ocena', kind='bar', title = 'Pokazanie sumy ocen w poszczególnych dniach od momentu zakupu', xlabel = 'Dni od zakupu', ylabel = 'Ocena')
###### Wykres dla zmiennej "Wiek kupującego"
bins = np.arange(0,100,5)
ax2 = df2.plot.hist(column=["Wiek kupującego"], figsize = (8,8), bins = bins + 1, width = 4)
ax2.set_xlabel('Wiek kupującego')  
ax2.set_ylabel('Częstósć Występowania w columnie')
ax2.set_title('Pokazanie ilości ludzi w poszczegółnym wieku')
#######  Wykres dla zmiennej "Dni od zakupu"
bins = np.arange(0,19,1)
ax3 = df2.plot.hist(column=["Dni od zakupu"], figsize = (8,8), bins = bins + 1, width = 0.8)
ax3.set_xlabel('Dni od Zakupu')    
ax3.set_ylabel('Częstósć Występowania w columnie')
ax3.set_title('Wykres dla zmiennej "Dni od zakupu" ')
plt.xticks(bins)
##########   Wykres dla zmiennej "Ocena"
bins1 = np.arange(0,5.5,0.5)
ax3 = df2.plot.hist(column=["Ocena"], figsize = (8,8), bins = bins1 + 1, width = 0.4)
ax3.set_xlabel('Ocena')  
ax3.set_ylabel('Częstósć Występowania w columnie')
ax3.set_title('Wykres dla zmiennej "Ocena"')
plt.xticks(bins1)
plt.subplots_adjust(hspace=1)
########### Wykres słupkowy dla płecu od oceny 
dni_ocena = df2.groupby('Płeć kupującego').agg({'Ocena':'mean'})
dni_ocena.plot(y = 'Ocena', kind='bar', title = 'Pokazanie średniej ocen dla każdego z płeców', xlabel = 'Płęć kupującego', ylabel = 'Ocena')
plt.legend()
plt.show()

        Unnamed: 0.1  Unnamed: 0  Dni od zakupu  Marka  Wiek kupującego  \
count     373.000000  373.000000     373.000000    373       373.000000
unique           NaN         NaN            NaN      5              NaN
top              NaN         NaN            NaN  Tefal              NaN
freq             NaN         NaN            NaN    141              NaN
mean      218.871314  218.871314       7.056300    NaN        39.825737
std       121.810732  121.810732       2.706929    NaN         9.509146
min         1.000000    1.000000       0.000000    NaN        18.000000
25%       115.000000  115.000000       5.000000    NaN        33.000000
50%       220.000000  220.000000       7.000000    NaN        40.000000
75%       325.000000  325.000000       9.000000    NaN        46.000000
max       430.000000  430.000000      14.000000    NaN        71.000000

       Płeć kupującego       Ocena
count              373  373.000000
unique               3         NaN
top                bd.         NaN
freq               177         NaN
mean               NaN    2.485255
std                NaN    1.095162
min                NaN    0.000000
25%                NaN    1.500000
50%                NaN    2.500000
75%                NaN    3.000000
max                NaN    5.000000
     Unnamed: 0.1  Unnamed: 0  Dni od zakupu       Marka  Wiek kupującego  \
0               1           1              6       Tefal             39.0
1               2           2              5       Dyson             35.0
2               3           3              8       Dyson             43.0
3               5           5              9  Electrolux             44.0
4               6           6             11       Dyson             45.0
..            ...         ...            ...         ...              ...
368           426         426              8       Tefal             50.0
369           427         427              6     Samsung             29.0
370           428         428              9       Dyson             39.0
371           429         429              8       Tefal             41.0
372           430         430              7       Tefal             22.0

    Płeć kupującego  Ocena
0               bd.    1.0
1               bd.    1.5
2               bd.    1.5
3               bd.    1.0
4               bd.    3.0
..              ...    ...
368             bd.    4.0
369               K    0.5
370               M    2.5
371             bd.    3.5
372             bd.    1.5

[373 rows x 7 columns]